<div>
  <%= image_tag 'Logo.png', style: 'height:auto;width:100%;' %>
  <h4 class="welcome-text nunito">Splitting money <br> made simple</h4>
</div>
<div class="container">
  <h3 class="lato heavy"><strong>How Kitty works</strong></h3>
  <div class="line-spaced"><p>Setup Kitty in any group chat</p></div>
  <div class="line-spaced"><p>Easily track shared expenses with any members of the group</p></div>
  <div class="line-spaced"><p>Let Kitty simplify the repayments</p></div>
  <div class="line-spaced"><p>Automatically let people know when you repay!</p></div>
</div>
<button class="send-btn"><div class="send-inner"><img src="https://png.icons8.com/paper-plane/ios11/30/ffffff" class="paper-plane" >Setup Your Group Kitty</div></button>


<script>
  window.extAsyncInit = function() {
    let getdetails = function (result) {
      fetch("/api/v1/users", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ user: result })
        })
          .then(response => response.json())
          .then((data) => {
            // document.body.append(data)
          });
    }
    MessengerExtensions.getContext('2048729172013795',
      getdetails,
      function error(result){
        // document.body.append("error", result);
      });
    MessengerExtensions.askPermission(
      function(permission_response) {
        // Person grants or rejects the asked permission.
        let permissions = permission_response.permissions; // list of all permissions granted
        let isGranted = permission_response.isGranted;
        // document.body.append(permissions);
        if (isGranted) {
          // User has granted user_profile permission
        }
      }, function(errorCode, errorMessage) {
        // Error occurred
      },
      "user_profile"
    );
    };
</script>
