<div>
  <%#= image_tag 'Logo.png', style: 'height:auto;width:100%;' %>
  <%= link_to "Add Expense", "/add_expense.html.erb", class: "btn btn-default btn-primary add" %>
  <div class="container">The group</div>
</div>


<div class="send-btn"><div class="send-inner"><img src="https://png.icons8.com/paper-plane/ios11/30/ffffff" class="paper-plane" >Setup Your Group Kitty</div></div>
