<h1>Pages#extension_home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<script>
  window.extAsyncInit = function() {
    console.log("loaded!!!!!!!!!!!!!!!!!!!!!!!!!")
  //   MessengerExtensions.getContext('2048729172013795',
  //     function success(thread_context){
  //       console.log("success")
  //     },
  //     function error(err){
  //       console.log("error")
  //     }
  //   );
  // };
</script>
