<h1>Pages#extension_home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<script>
  window.extAsyncInit = function() {
    // console.log(MessengerExtensions)
    // MessengerExtensions.getSupportedFeatures(function success(result) {
    //   document.body.append(result);
    // }, function error(err) {
    //   document.body.append(err)
    // });

    // MessengerExtensions.getContext('2048729172013795',
    //   function success(thread_context){
    //     document.body.append(thread_context)
    //   },
    //   function error(err){
    //     document.body.append(err)
    //   }
    // );

    // document.body.append(thread_type())

    // let context = []

    MessengerExtensions.getContext('2048729172013795',
      function success(result){
        context.push(result.thread_type)
        document.body.append(result.thread_type);
        document.body.append("...")
        const psid = result.thread_type
        document.body.append(result.psid);
        document.body.append("...")
        const tid = result.tid
        document.body.append(result.tid);
        document.body.append("...")
      },
      function error(result){
        document.body.append("error", result);
      });
    };

    // document.body.append(context[0])
</script>
