<h1>Welcome to Kitty</h1>

<script>
  window.extAsyncInit = function() {
    document.body.append('one')
    let array = [];
    let getdetails = function (result) {
      array.push(result.psid);
      array.push(result.tid);
      array.push(result.thread_type);
      document.body.append(array[0]);

      // Make this a javascript object ready for tomorrow
      // We will have an api call
    }
    MessengerExtensions.getContext('2048729172013795',
      getdetails,
      function error(result){
        document.body.append("error", result);
      });
    };

</script>
