<h1>Pages#extension_home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<script>
  window.extAsyncInit = function() {
    document.body.append('hello')
    // console.log(MessengerExtensions)
    MessengerExtensions.getSupportedFeatures(function success(result) {
      document.body.append(result);
    }, function error(err) {
      document.body.append(err)
    });

    MessengerExtensions.getContext('2048729172013795',
      function success(thread_context){
        document.body.append(thread_context)
      },
      function error(err){
        document.body.append(err)
      }
    );
  };
</script>
