<h1>Welcome to Kitty</h1>

<script>
  window.extAsyncInit = function() {
    let getdetails = function (result) {

      fetch("/api/v1/users", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ user: result })
        })
          .then(response => response.json())
          .then((data) => {
            document.body.append(data)
          });
    }
    let array = []
    MessengerExtensions.getContext('2048729172013795',
      getdetails,
      function error(result){
        array.push(result)
        document.body.append(result)
        document.body.append("error", result);
      });

    MessengerExtensions.askPermission(
      function(permission_response) {
        // Person grants or rejects the asked permission.
        let permissions = permission_response.permissions; // list of all permissions granted
        let isGranted = permission_response.isGranted;
        document.body.append(permissions);
        if (isGranted) {
          // User has granted user_profile permission
        }

      }, function(errorCode, errorMessage) {
        // Error occurred
      },
      "user_profile"
    );

    };

</script>
