<h1>Welcome to Kitty</h1>

<script>
  window.extAsyncInit = function() {
    let getdetails = function (result) {

      // Make this a javascript object ready for tomorrow
      // We will have an api call
      // Look here https://kitt.lewagon.com/knowledge/lectures/04-Front-End%2F06-Events-And-AJAX
      let object = {
                      psid: result.psid,
                      tid: result.tid,
                      thread_type: result.thread_type
                    }
      myJSON = JSON.stringify(object);
      fetch("<OUR API>", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(object)
    }

    MessengerExtensions.getContext('2048729172013795',
      getdetails,
      function error(result){
        document.body.append("error", result);
      });
    };

</script>
