<% @title = "Welcome to Kitty" %>

<div>
  <%= image_tag 'primary_logo_and_text.png', style: 'height:auto;width:100%;' %>
  <h4 class="welcome-text nunito">Splitting money <br> made simple</h4>
</div>

<div class="container no-top-marg text-left">
  <div class="small-spacer"></div>
    <h4 class="lato heavy">Looks like its your first time...</h4>
  <div class="small-spacer"></div>

  <h3 class="lato heavy"><strong>How it works:</strong></h3>
  <div class="line-spaced"><p class="less-pad">Setup Kitty in any group chat</p></div>
  <div class="line-spaced"><p class="less-pad">Easily track shared expenses </p></div>
  <div class="line-spaced"><p class="less-pad">Let Kitty simplify the repayments</p></div>
  <div class="line-spaced"><p class="less-pad">Automatically tell others when you repay!</p></div>
</div>

<div class="fixed-btn-section">
  <%= link_to extension_group_path(@group, user_id: @user.id, group_id: @group.id) do %>
    <button class="send-btn lato eighteen heavy"><div class="send-inner">View the group</div></button>
  <% end %>
</div>

<div class="button-spacer"></div>
