<% @title = "Loading..." %>

<div class="loading-container text-center">
    <%= image_tag("White on Colour.png", size: '200', alt: "Edit", class: "loading-logo-img centered") %>
      <% fun_arr = ["Howdy!", "Using litter responsibly!", "Licking paws...", "Well met!", "Busy mouse hunting!","Compawling the database...","How you doin'?"] %>
    <div class="align-top">
    <h3 class="lato white heavy" id="header"><%= fun_arr.sample %></h3>

    </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    window.extAsyncInit = function() {
      let getdetails = function(result) {
        fetch("/api/v1/users", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ 'user': result })
        })
          .then(response => response.json())
          .then(data => {
            window.location.replace(data.url)
          });
      }

      MessengerExtensions.getContext(<%= ENV['APP_ID'] %>,
        getdetails,
        function error(result){
          document.getElementById('header').innerText = 'error in get context'
        });

      MessengerExtensions.askPermission(
        function(permission_response) {
          // Person grants or rejects the asked permission.
          let permissions = permission_response.permissions; // list of all permissions granted
          let isGranted = permission_response.isGranted;
          // document.body.append(permissions);
          if (isGranted) {
            // User has granted user_profile permission
          }

        }, function(errorCode, errorMessage) {
          // Error occurred
          document.getElementById('header').innerText = 'error in ask permission';
        },
        "user_profile"
      );
    };
  </script>
<% end %>
