<% @title = "Loading..." %>

<div class="loading-container">
  <%= image_tag("White on Colour.png", size: '200', alt: "Edit", class: "loading-logo-img centered") %>
  <div class="loading-phrase">
    <% fun_arr = ["Howdy!", "Well met!", "How you doin'?"] %>
    <h3>
      <%= fun_arr.sample %>
    </h3>
  </div>
</div>


<script>
  window.extAsyncInit = function() {
    let getdetails = function(result) {
      fetch("/api/v1/users", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ user: result })
        })
          .then(response => response.json())
          .then((data) => {
            window.location.replace(data.url)
          });
    }

    MessengerExtensions.getContext('2048729172013795',
      getdetails,
      function error(result){
        document.body.append("error", result);
      });

    MessengerExtensions.askPermission(
      function(permission_response) {
        // Person grants or rejects the asked permission.
        let permissions = permission_response.permissions; // list of all permissions granted
        let isGranted = permission_response.isGranted;
        // document.body.append(permissions);
        if (isGranted) {
          // User has granted user_profile permission
        }

      }, function(errorCode, errorMessage) {
        // Error occurred
      },
      "user_profile"
    );
  };
</script>
