// Define variables for your color scheme
$kittyblue: #1CD6F4;
$fb-blue: #0084FF;

// For example:
$red: #FE4A49;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #6EEB83;
$gray: #000000;
$light-gray: #F4F4F4;
