<div class="navbar-menu-wrapper">
  <div class="navbar-menu-button">
    <a href="#home">
      <%= image_tag("primary_logo_and_text.svg", size: '70', alt: "Edit") %>
    </a>
  </div>
  <div class="navbar-menu-container">
    <div class="section">
      <p><a href="#middle">Take me to the app!</a></p>
    </div>
    <div class="section">
      <p><a href="#middle">Section 1</a></p>
    </div>
    <div class="section">
      <p><a href="#bottom">Section 2</a></p>
    </div>
  </div>
</div>
