<div class="navbar-menu-wrapper">
  <div class="navbar-menu-button">
    <a href="#home">
      <%= image_tag("kitty_logo_black.svg", size: '67', alt: "Edit") %>
    </a>
  </div>
  <div class="navbar-menu-container">

    <div class="section">
      <p><a href="#what-is-kitty">What is Kitty</a></p>
    </div>
    <div class="section">
      <p><a href="#FAQ">FAQs</a></p>
    </div>
  </div>
</div>
