<div class="background-design">
  <div class="banner-home">
    <div class="banner-home-left">
      <div class="banner-home-content">
        <h1>Discover sharing ... <br> <br>
        the cute way!</h1>
      </div>
    </div>
  </div>
</div>
<div class="test">

</div>
