<%= render 'shared/navbar' %>
<div class="background-design col-xs-12">
  <div class="banner-home" id="home">
    <div class="banner-home-left">
      <div class="banner-home-content">
        <h1>Discover sharing ... <br> <br>
        the cute way!</h1>
      </div>
    </div>
  </div>
</div>
<div class="parallax-foreground-content-upper">

</div>
<div class="parallax-background-content-upper" id="middle">

</div>
<div class="parallax-foreground-content-lower" id="bottom">

</div>
<div class="parallax-background-content-lower">

</div>
<%= render 'shared/footer' %>

