<%= render 'shared/navbar' %>
<script type="text/javascript">
  if (screen.width <= 699) {
    window.location.href= "/redirect"
  }
</script>
<div class="background-design">
  <div class="banner-home" id="home">
    <div class="banner-home-left">
      <div class="banner-home-content">
        <h1 class="col-xs-12">Discover sharing ... <br> <br>
        the cute way!</h1>
      </div>
    </div>
  </div>
</div>
<div class="parallax-foreground-content-upper">

</div>
<div class="parallax-background-content-upper what-is-kitty-section content-section" id="what-is-kitty">
  <h2>What is Kitty?</h2>
  <div class="content-list">
    <ul>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
      <li>lorem ipsum</li>
    </ul>
  </div>
  <div class="iphone_img">
    <%= image_tag("Devices.svg", size: '250x500', alt: "Edit") %>
  </div>
</div>
<div class="parallax-foreground-content-lower">

</div>
<div class="parallax-background-content-lower FAQ-section content-section" id="FAQ">
    <h2>FAQ</h2>
  <ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
  </ul>
</div>
<%= render 'shared/footer' %>

