<h1>Your Group: <%= @group.id %></h1>

<h3>User ID: <%= @user.id %></h3>
<%= link_to new_extension_expense_path(user_id: @user.id, group_id: @group.id) do %>
  <button class="send-btn"><div class="send-inner">Add an expense</div></button>
<% end %>
