.welcome-text {
  color: $kittyblue;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #F7F7F7;
}
.nunito {
  font-family: Nunito;
}
.lato {
  font-family: Lato;
}
.heavy {
  font-weight: bold;
}
.name-input {
  width: 70%;
  height: 40px;
  border-radius: 4px;
  border: none;
}
.central {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mini-margin {
  margin-bottom: 0px;
}
.no-top-marg {
  margin-top: 0px;
  padding-top: 0px;
}
