.loading-logo {
  transition: all 1s;
  transform: rotate(1080deg);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

img.loading-logo-img {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.loading-container {
  background-color: $kittyblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
