.avatar-list {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.avatar-navbar {
  width: 52px;
  height: 52px;
  border-radius: 10px;
}

.avatar-scroll {
  width: 68px;
  height: 68px;
  border-radius: 10px;
}

.avatar-highlighted {
  border: 4px solid $green
}
