.list-item-tall {
  height: 64px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.list-item-short {
  height: 48px;
  display: flex;
  margin-left: 20px;
  align-items: baseline;
}

.divider {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.list-item-divider-content {
  flex-grow: 1;
  margin: 5px 0;
}

.list-item-settle-btn {

}

.list-item-arrow-btn {
  margin: 20px 25px 0 0;
  color: rgba(0,0,0,0.4)
}

.profile-img-container {
  width: 56px;
  padding: 0;
}

p.list-item-text {
  margin-bottom: 0;
  padding: 0;
}

a list-item-short {
  text-decoration: none;
}

.align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

